---
import Layout from '../layouts/Layout.astro'
import PostMini from '../components/PostMini.astro'
import type { Props as PostMiniProps } from '../components/PostMini.astro'

interface MDXModule {
  frontmatter: PostMiniProps
  Content: any // or a specific type if you know it
}

// Import all markdown files from the 'news' and 'writeups' directories
const newsModules = import.meta.glob('../content/news/*.mdx', { eager: true })

// Extract, sort, and slice the 3 latest news posts
const posts: PostMiniProps[] = Object.entries(newsModules)
  .map(([path, module]) => {
    const mod = module as MDXModule // Use type assertion here
    const slug = path.split('/').pop()?.replace('.mdx', '') || ''

    return {
      ...mod.frontmatter,
      Content: mod.Content,
      slug: slug,
      url: '/news/' + slug
    }
  })
  .filter((post) => post.date) // Ensure posts have a date in their frontmatter
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()) // Sort by date (latest first)
  .slice(0, 3) // Get the 3 latest writeups

const writeupModules = import.meta.glob('../../content/writeups/*.mdx', {
  eager: true
})
const writeups: PostMiniProps[] = Object.entries(writeupModules)
  .map(([path, module]) => {
    const mod = module as MDXModule // Use type assertion here
    const slug = path.split('/').pop()?.replace('.mdx', '') || ''

    return {
      ...mod.frontmatter,
      Content: mod.Content,
      slug: slug,
      url: '/writeups/' + slug
    }
  })
  .filter((post) => post.date) // Ensure posts have a date in their frontmatter
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()) // Sort by date (latest first)
  .slice(0, 3) // Get the 3 latest writeups
---

<Layout
  title="LUXEMBOURGISH CTF/CYBERSECURITY COMMUNITY"
  subtitle="Welcome to LetzPwn"
>
  <main>
    <div class="welcome-section">
      <div class="lower-box">
        <div class="text">
          LetzPwn is a community that helps people, no matter their skill or
          age, to learn more about cybersecurity. We aim to do this, by
          providing first steps into the cybersecurity world for any interested
          person. To further enhance all of the team's skills, we are
          participating in Capture the Flag (CTF) competitions. A CTF is usually
          about solving cybersecurity related riddles. For each solved riddle a
          team gets points. The team with the most points wins, easy right? If
          you want to know more details about how CTFs work, feel free to
          contact us or do some internet research. A good entry point for your
          research might be <a href="https://ctftime.org/ctf-wtf/">this site</a
          >.
          <br />
          Our main platform for the community is discord, it's free and easy to join.
          Come say hi!
        </div>
      </div>
<div style="display: flex; flex-direction: column; align-items: center;">
  <div class="button-row">
    <a href="/about" class="theme-btn btn-style-one">
      <span class="btn-title">About us</span>
    </a>
    <a href="https://discord.letzpwn.lu" class="theme-btn btn-style-one">
      <span class="btn-title">Join Discord</span>
    </a>
  </div>
</div>


    </div>
    <!-- Latest News Section -->
    <section class="players-section players-page-section">
      <div class="auto-container">
        <div class="sec-title centered">
          <h2>Latest News</h2>
        </div>
        <div class="row clearfix">
          {
            posts.map((post) => (
              <PostMini
                title={post.title}
                url={post.url}
                coverImagePath={post.coverImagePath}
                tags={post.tags}
                author={post.author}
                date={post.date}
              />
            ))
          }
        </div>
      </div>
      <div style="display: flex; flex-direction: column;align-items: center;">
        <a href="/news" class="theme-btn btn-style-one"
          ><span class="btn-title">More news</span></a
        >
      </div>
    </section>

    <!-- Latest Writeups Section -->
    <section class="players-section players-page-section">
      <div class="auto-container">
        <div class="sec-title centered">
          <h2>Latest Writeups</h2>
        </div>
        <div class="row clearfix">
          {
            writeups.map((post) => (
              <PostMini
                title={post.title}
                url={post.url}
                coverImagePath={post.coverImagePath}
                tags={post.tags}
                author={post.author}
                date={post.date}
              />
            ))
          }
        </div>
      </div>
      <div style="display: flex; flex-direction: column;align-items: center;">
        <a href="/writeups" class="theme-btn btn-style-one"
          ><span class="btn-title">More writeups</span></a
        >
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  section {
    padding: 115px 0px 115px;
  }

  .lower-box {
    text-align: justify;
  }
</style>
<style is:global>
  .button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .button-row > a {
    width: 14rem;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 600px) {
    .button-row {
      flex-direction: column;
      width: 100%;
    }

    .button-row > a {
      width: 100%;
    }
  }
</style>
